:root {
    
    /*COLORS*/
    --charleston-green: rgb(5, 83, 18);
    --hunter-green: rgb(0, 58, 0);
    --phthalo-green: rgb(28, 126, 77);
    --maize-crayola: #FFCE63;
    --cerulean-frost: rgb(0, 70, 6);
    --timberwolf: rgb(255, 255, 255);

    --darker-slate-blue: #337e44;
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.25rem;
    --fs-title: 3rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--hunter-green);
    color: var(--timberwolf);
    text-align: center;
}

a {
    color: var(--timberwolf);
    text-decoration: none;
}

a:visited {
    color: var(--timberwolf);
}

a:hover {
    color: var(--maize-crayola);
}


.hero-section {
    background: no-repeat center/cover url(images/22aa6c1b0fdadffecf7bd41ea8a296a4cdda0a51.jpg);
    padding: 4rem;
    margin-bottom: 3rem; 
    border-radius: 1rem 1rem 40% 1rem;
    box-shadow: 0 15px 10px var(--phthalo-green);
       
}

.hero-block {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(7, 92, 49, 0.8);
    padding: 2rem;
    border-radius: 40% 1rem;
}

.hero-title {
    color: var(--timberwolf);
    font-size: var(--fs-title);
    text-transform: uppercase;
    text-shadow: 3px 3px rgb(1, 51, 28);
    margin-bottom: 1rem;
}

.hero-subtitle {
    color: var(--timberwolf);
    font-size: var(--fs-s);
    margin-bottom: 1rem;
 }

 @media (max-width: 40rem) {
    .hero-section {
    padding: 2rem;
    }

    .hero-title {
        font-size: var(--fs-l);
    }

    .hero-subtitle {
        font-size: var(--fs-xs);
    }
 } 



.activity-section {
    background-color: var(--hunter-green);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 2rem;
}


.activity-block {
    width: 20rem;
    margin: 1rem;
}

.activity-title {
    font-size: var(--fs-l);
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem;
}

.activity-img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: var(--br-round);
    border: 3px solid var(--maize-crayola);
}

.activity-subtitle, .activity-text {
    width: 100%;
    margin-bottom: .75rem;
    font-size: var(--fs-s);
}

.activity-subtitle {
    text-transform: uppercase;
}

.activity-text {
    color: var(--maize-crayola);
}

@media (max-width: 40rem) {
    .activity-section {
    flex-direction: column;
    align-items: center;
    }

    .activity-block {
        padding: 0 2rem;
    }

    .activity-title {
        font-size: var(--fs-s);
    }

 }   



.nearby-section {
    width: 50rem;
    padding: 2rem;
    background-color: var(--charleston-green);
}

.nearby-title {
    color: var(--cerulean-frost);    
    font-size: var(--fs-l);
    font-weight: bold;    
    text-transform: uppercase;
}

.nearby-img {
  width: 200px;
} 

ul {
    background-color: var(--phthalo-green);
    list-style-type: none;
    text-align: center;
    font-size: var(--fs-s);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 20% 1rem 1rem 1rem;
}

li {
  margin-bottom: 1rem;
}

@media (max-width: 40rem) {
    .nearby-section {
        width: 100%;
    }
  
    .nearby-title {
    font-size: var(--fs-m);
    }

   ul {
    font-size: var(--fs-xs);
    }
 }


.guide-section {
    width: 50rem;
    background-color: var(--charleston-green);
    padding: 2rem;
}

.guide-block {
    background-color: var(--darker-slate-blue);
    padding: 1rem;
    border-radius: 1rem 1rem 30% 1rem; 
    border-bottom: 7px solid var(--maize-crayola);
    border-right: 7px solid var(--maize-crayola);
}

 .guide-img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: var(--br-soft);
    border: 5px solid var(--maize-crayola);
}

.guide-title {
    font-size: var(--fs-m);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.guide-subtitle {
    font-size: var(--fs-s);
    color: var(--maize-crayola);
}

.guide-text {
    width: 50%;
    color: var(--charleston-green);
    font-size: var(--fs-s);
    text-align: center;
    margin: 1rem auto;
}

@media (max-width: 40rem) {
    .guide-section {
        width: 100%;
    }

    .guide-text {
        font-size: var(--fs-xs);
    }
}

footer {
    /*FLEXBOX FOR NEARBY AND GUIDE SECTIONS*/
    background-color: var(--charleston-green);
    padding: 2rem;    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 @media (max-width: 40rem) {
    footer {
    flex-direction: column;
    align-items: center;
    }
    
}
